@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* 全域樣式擴充 */
html {
  background-color: white;
  color: black;
}

html.dark {
  background-color: #111827; /* tailwind 的 bg-gray-900 */
  color: white;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}
